html {
    font-size: 62.5%;
}

body {
    background-color: #000000;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.6rem;
}

#main > section {
    margin: 2rem;
    padding: 1rem 0;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 1.87167rem;
    margin-bottom: 1rem;
}

h4 {
    font-size: 1.6rem;
}

h5 {
    font-size: 1.32833rem;
}

h6 {
    font-size: 1.07167rem;
}

input,
select,
th,
td {
    font-size: 1rem;
}

#masthead {
    padding: 5rem;
    background-color: aquamarine;
    background-image: url('sample.jpg');
}

#masthead-intro {
    margin-bottom: 0.1rem;
}

#masthead-heading {
    margin-top: -0.2rem;
}

#main {
    margin-left: 7rem;
    margin-right: 7rem;
}

#contact {
    background-color: coral;
    padding: 2rem;
}

#education {
    background-color: darkgoldenrod;
}

#employment {
    background-color: #BDB76B;
    ;
}

#employment #job1 {
    background-color: #339933;
    margin-bottom: 1em;
}

#employment #job2 {
    background-color: darkcyan;
}

#links {
    background-color: #007acc;
}

#employment ul {
    list-style-type: none;
    font-weight: normal;
}

#employment ul li > span {
    font-weight: 700;
}
